* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  min-height:100%;
}

body {
  font-family: "consolas";
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block; 
  width: 100%;
  padding: 15px;

  appearance: none; 
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,.5);
  border-radius: 0px 0px 16px 16px;

  box-shadow: 0px 5px rgba(0,0,0,.2);

  font-size: 28px; 

  transition: .4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255,255,255,.75);
}

.flex{
  display:flex;
  justify-content: center;
}

#weatherBox, #notFound {
  color:white;
  padding-top: 100px;
  padding: 20px 0px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  background: rgba(0,0,0,.40);
  width:25%;
}


#icon {
    height: auto; 
    width: auto; 
    max-width: 50px; 
    max-height: 50px;
}

#temp {
  padding-left: 50px;
  font-family: "Impact";
  font-size: 150px;
}

#temp span {
  font-family:"calibri"
}

#mainWeather{
  margin-top: 10px;
}

.blue {
  background:
}

@media only screen and (max-width: 1000px) {
  #weatherBox, #notFound {
    width:80%;
  }
}
@media only screen and (max-width: 600px) {
  #weatherBox, #notFound {
    width:100%;
  }
}